<html>
	<head>
		ADD ITEMS FORM
	</head>

	<body>
		<div>
			<h2>ADD ITEM HERE</h2>

			<form action="/items/add" method="POST">
				Name :<br />
				<input type="text" name="name" />
				<br />
				brand :<br />
				<input type="text" name="brand" />
				coditem :<br />
				<input type="text" name="codeitem" />
				<br /><br />
				<input type="submit" value="Submit" />
			</form>
		</div>
	</body>
</html>
