<html>
	<head>
		ADD SUPPLIERS FORM
	</head>

	<body>
		<div>
			<h2>ADD SUPPLIER HERE</h2>

			<form action="/suppliers/add" method="POST">
				Name :<br />
				<input type="text" name="name" />
				<br />
				Kota :<br />
				<input type="text" name="kota" />
				<br /><br />
				<input type="submit" value="Submit" />
			</form>
		</div>
	</body>
</html>
