<html>
	<head>
		EDIT ITEM FORM
	</head>

	<body>
		<div>
			<h2>EDIT THE ITEM HERE BASED ON ID</h2>

			<form action="<%= link %>" method="POST">
				Name :<br />
				<input type="text" name="name" />
				<br />
				Brand :<br />
				<input type="text" name="brand" />
				CodeItem :<br />
				<input type="text" name="coditem" />
				<br /><br />
				<input type="submit" value="Submit" />
			</form>
		</div>
	</body>
</html>
