<html>
	<head>
		EDIT SUPPLIER FORM
	</head>

	<body>
		<div>
			<h2>EDIT THE SUPPLIER HERE BASED ON ID</h2>

			<form action="<%= link %>" method="POST">
				Name :<br />
				<input type="text" name="name" />
				<br />
				Kota :<br />
				<input type="text" name="kota" />
				<br /><br />
				<input type="submit" value="Submit" />
			</form>
		</div>
	</body>
</html>
