<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>WELCOME TO SCHOOL</title>
	</head>

	<body>
		<div>
			<h1>PUBLIC SCHOOL</h1>
		</div>
		<div>
			<h1>RANDOM PUBLIC SCHOOL</h1>
		</div>
		<div>
			<ul>
				<li><a href="/students">REGISTER STUDENTS</a></li>
				<li><a href="/teachers">VIEW OUR TEACHERS</a></li>
			</ul>
		</div>
	</body>
</html>
